@{
    ViewData["Title"] = "Home Page";
}
<!-- Preloader -->
<div id="preloader" class="" style="display: none;">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
            <div class="spinner"></div>
            <div class="text">
                <img src="img/logo/Logo-2.png" alt="">
            </div>
        </div>
        <h2 class="head">Did You Know?</h2>
        <p>We design Banca for the readers, optimizing not for page views or engagement</p>
    </div>
</div>

<div class="slider-active slick-initialized slick-slider">
    <button type="button" class="slick-prev slick-arrow" style="display: block;"><i class="ti-angle-left"></i></button>
    <main>
        <section class="breadcrumb-area" id="banner_animation2" style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
            <div class="breadcrumb-widget breadcrumb-widget-2  pt-200 pb-145" style="background-image: url(img/banner/search.png);">

                <div class="shapes">
                    <div class="one-shape shape-1" data-parallax="{&quot;x&quot;: 100, &quot;y&quot;: 0, &quot;rotateZ&quot;:0}" style="transform:translate3d(0.029px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0.029px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        <img src="img/breadcrumb/Polygon-1.png" alt="shape">
                    </div>
                    <div class="one-shape shape-2" data-parallax="{&quot;x&quot;: 200, &quot;y&quot;: 50, &quot;rotateZ&quot;:0}" style="transform:translate3d(0.029px, 0.029px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0.029px, 0.029px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        <img src="img/breadcrumb/Polygon-2.png" alt="shape">
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div class="breadcrumb-content pt-50">
                                <h1>Search our Directory</h1>
                                <div class="search-box mt-20">
                                    <form asp-controller="Admin" asp-action="Search">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="Search..." id="Search" name="Search">
                                            <button class="search-btn input-group-append" type="submit">
                                                <svg class="svg-icon search-icon" style="width: 20px;" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">A magnifying glass icon.</desc><g class="search-path" fill="none" stroke="#848F91"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4" /><circle cx="8" cy="8" r="7" /></g></svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<div id="SearchResult"></div>


<!-- jQuery code -->
<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            event.preventDefault();

            var UserID = $("#Search").val();
            $("#preloader").show();
            $.ajax({
                url: "/Admin/SearchResults",
                method: "POST",
                data: { UserID: UserID },
                success: function (data) {
                    $("#SearchResult").html(data);
                    $("#preloader").hide();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    $("#preloader").hide();
                }
            });
        });


    });
</script>