@model List<ITSA_Delon_Jarrod_naidoo.Models.User>
<!-- Preloader -->
<div id="preloader" class="" style="display: none;">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
            <div class="spinner"></div>
            <div class="text">
                <img src="img/logo/Logo-2.png" alt="">
            </div>
        </div>
        <h2 class="head">Did You Know?</h2>
        <p>We design Banca for the readers, optimizing not for page views or engagement</p>
    </div>
</div>

<div class="slider-active slick-initialized slick-slider">
    <button type="button" class="slick-prev slick-arrow" style="display: block;"><i class="ti-angle-left"></i></button>
    <main>
        <section class="breadcrumb-area" id="banner_animation2" style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
            <div class="breadcrumb-widget breadcrumb-widget-2  pt-200 pb-145" style="background-image: url(img/banner/search.png);">

                <div class="shapes">
                    <div class="one-shape shape-1" data-parallax="{&quot;x&quot;: 100, &quot;y&quot;: 0, &quot;rotateZ&quot;:0}" style="transform:translate3d(0.029px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0.029px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        <img src="img/breadcrumb/Polygon-1.png" alt="shape">
                    </div>
                    <div class="one-shape shape-2" data-parallax="{&quot;x&quot;: 200, &quot;y&quot;: 50, &quot;rotateZ&quot;:0}" style="transform:translate3d(0.029px, 0.029px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0.029px, 0.029px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        <img src="img/breadcrumb/Polygon-2.png" alt="shape">
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div class="breadcrumb-content pt-50">
                                <h1>Search our Directory</h1>
                                <div class="search-box mt-20">
                                    <form id="searchForm" asp-controller="Admin" asp-action="Search">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="Search by Name or Surname..." id="Search" name="Search">
                                            <button class="search-btn input-group-append" type="submit">
                                                <svg class="svg-icon search-icon" style="width: 20px;" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">A magnifying glass icon.</desc><g class="search-path" fill="none" stroke="#848F91"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4" /><circle cx="8" cy="8" r="7" /></g></svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<div class="">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="search-result-content mt-50">
                <h2 class="mb-30">Search Results</h2>
            </div>
        </div>
    </div>
</div>

<div id="SearchResult">
    <div id="SearchResult">
        @await Html.PartialAsync("SearchResults", Model)
    </div>
</div>

<div class="pb-140 pt-110">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="search-result-content mt-50">
                <p>
                    On this page, you can use the search bar above to search based on name or surname. The search results will display details about each user, including their name, surname, contact information, and other relevant data.
                </p>
                <p>
                    You can click on the "View" button next to each search result to view more detailed information about the user. Additionally, you can use the "Delete" button to remove a user from the database if necessary.
                </p>
            </div>
        </div>
    </div>
</div>
