<div style="cursor: pointer;" class="border-top bg_white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div id="ironman" class="ironman">
                    <div class="head">
                        <div class="helmet">
                            <div class="helmet-inside-fix">

                                <div class="helmet-inside-top"></div>
                                <div class="helmet-inside-fix-left"></div>
                                <div class="helmet-inside-fix-right"></div>
                                <div class="helmet-inside-right"></div>
                                <div class="helmet-inside-left"></div>
                            </div>

                            <div class="helmet-inside">

                                <div class="eye-left"></div>
                                <div class="eye-right"></div>


                                <div class="mouth"></div>
                            </div>
                        </div>
                    </div>
                    <div class="body">

                        <div class="heart"></div>


                        <div class="arm-left"></div>
                        <div class="arm-right"></div>


                        <div class="leg-left"></div>
                        <div class="leg-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
