<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITSA_Delon_Jarrod_naidoo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/new.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITSA_Delon_Jarrod_naidoo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/default.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/elegant-icons.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/nice-select.css" media="all" />

    <!-- JS here -->
    <script type="text/javascript" src="~/js/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js" data-stencil-namespace="ionicons"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js" data-stencil-namespace="ionicons"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


</head>
<body>
    <header class="header">
        <!-- Preloader -->
        <div id="preloader" class="" style="display: none;">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="round_spinner">
                    <div class="spinner"></div>
                    <div class="text">
                        <img src="img/logo/Logo-2.png" alt="">
                    </div>
                </div>
                <h2 class="head">Did You Know?</h2>
                <p>We design Banca for the readers, optimizing not for page views or engagement</p>
            </div>
        </div>
        @{
            Html.RenderPartial("_navbar");
        }
    </header>
    <div class="" id="base">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        @{
            Html.RenderPartial("_footer");
        }
    </footer>


    <script>
        $(document).ready(function () {
            $("#ironman").click(function () {
                var elmnt = document.getElementById("base");
                elmnt.scrollIntoView();
            });
        });

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery.smoothscroll.min.js"></script>
    <script type="text/javascript" src="~/js/parallax.js"></script>
    <script type="text/javascript" src="~/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/logic.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
