<div class="container bg_white">
<div class="row">
	<div class="col">
        <h1>An Error Has Occured, Please contact Admin</h1>
            <div class="advisor-img mt-45 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="shape ">
                    <div class="box">
                        <img class="layer layer2" data-depth="0.5" src="img/faq/Shape.png" alt="shape" style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(-32.4754px, 15.3541px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                    </div>
                    <div class="circle-shape"></div>
                </div>
                <img class="main-img" src="https://www.telit.com/wp-content/uploads/2021/11/Telit_Rapid_Prototyping_Smart_Grid_Smart-Metering.jpg" alt="Smart_Meter">

                <div class="work-time">
                    <div class="circle-shape"></div>
                    All weekdays  <span style="padding-left: 5px;"> 08.00 - 18.00</span>
                </div>
            </div>
	</div>
</div>
</div>